footer { font-size: 90%; font-family: monospace; }

body {
  padding-left: .5em;
  padding-right: .5em;
}

header {
  background: rgb(51, 51, 51);
}

footer {
  padding-bottom: 15px;
}

#blog-logo {
  background: #ffffff;
  color: rgb(0, 0, 0);
  display: inline-block;
  line-height: 1.75rem;
  padding: 0 0.5rem;
  font-weight: bold;
}